body {
  margin: 0;
  padding: 0;
}

.resume {
  width: 100%;
  height: 100%;
}

h2 {
  margin: 0;
  font-family: initial;
  font-style: italic;
  font-size: 250%;
}

.bodyheaders > h2 {
  padding-top: 10px;
  font-family: "Exo", sans-serif;
}

h5 {
  margin: 0;
  font-weight: normal;
}

.headsection {
  position: relative;
  width: 100%;
}

.headsection > .header {
  width: 100%;
  position: relative;
  background-color: #343d64;
  color: white;
}

.profilepic {
  position: relative;
  float: right;
  width: 150px;
  height: 160px;
}
.cand_name {
  padding-top: 15px;
  margin: 0;
  position: relative;
  left: 20px;
}

.cand_name > h1 {
  margin: 0;
  font-size: 500%;
  text-align: left;
  font-family: initial;
  font-weight: normal;
}

.cand_info {
  position: relative;
  text-align: left;
  font-size: 250%;
  font-style: italic;
  font-weight: normal;
  left: 20px;
  padding-bottom: 15px;
}

.bodysection{
  height: 1700px;
}

.bodysection > .section1 {
  position: relative;
  width: 75%;
  height: 1800px;
  float: left;
}

.bodysection {
  margin-left: 20px;
}

.bodysection > .section2 {
  position: relative;
  width: 25%;
  height: 1800px;
  background-image: linear-gradient(to right, white 0%, #93a0d8 100%);
  float: right;
}

.summary > .content {
  font-size: 25px;
}

.experience {
  height: 1100px;
}

.experience > .heading {
  margin: 0;
  font-size: 30px;
}

.heading{
  font-size: 25px;
}

.experience > .years {
  background-image: linear-gradient(to left, white 0%, #93a0d8 200%);
  text-align: center;
  position: relative;
  width: 20%;
  height: 1050px;
  float: left;
  font-size: 18px;
  padding:0;
  margin: 0;
}

.year_header {
    padding:0;
    margin:20px;
}

.experience > .years> .year1 {
    padding-top:200px;
    height: 400px;
}
.experience > .years> .year2 {
    height: 270px;
}

.experience > .exp {
  position: relative;
  width: 80%;
  height: 1050px;
  float: right;
}

.experience > .exp> .exp1 {
    padding-left:20px; 
}

.experience > .exp> .exp2 {
    padding-left:20px; 
}

.experience > .exp> .exp3 {
    padding-left:20px; 
}

.exp_header {
    margin: 0;
    padding-top: 15px;
    font-size: 25px;
}

.section2 > .personalinfo {
  padding-left: 40px;
}

.section2>.profeciency{
    padding-left: 40px;
    height: 1100px;
}

.explist{
    margin: 0;
  font-size: 18px;
}

.languages{
  font-size: 18px;
}

.rating{
  font-size:30px;
}

.language{
  position: relative;
  float: left;
}

.java{
  position: relative;
  float: right;
  margin:10px;
}
.proheader{
  margin-top:20px; 
}

.frameworks{
  font-size: 18px;
}

.framework{
  position: relative;
  float: left;
}

.selenium{
  padding-left: 220px;
  margin-left:50px;
}
.testng{
  padding-left: 180px;
  margin-left:75px;
}
.restassured{
  padding-left: 120px;
  margin-left:20px;
}
.nodejs{
  padding-left: 100px;
  margin-left:76px;
}
.cucumber{
  padding-left: 70px;
  margin-left:45px;
}

.tools{
  font-size: 18px;
}

.tool{
  position: relative;
  float: left;
}

.postman{
  padding-left: 220px;
  margin-left:60px;
}
.jenkins{
  padding-left: 180px;
  margin-left:70px;
}
.elkstack{
  padding-left: 150px;
  margin-left:55px;
}
.redis{
  padding-left: 150px;
  margin-left:93px;
}
.rabbitmq{
  padding-left: 140px;
  margin-left:53px;
}
.sitecore{
  padding-left: 170px;
  margin-left:57px;
}
.kubernetes{
  padding-left: 100px;
  margin-left:30px;
}
.soapui{
  padding-left: 75px;
  margin-left:83px;
}
.jmeter{
  padding-left: 90px;
  margin-left:78px;
}

.awards > .heading {
  font-size: 30px;
  margin:0;
  padding-top: 20px;
}

.award{
  font-size: 25px;
  padding:10px;
  margin-left: 40px
}

.education {
  height: 1100px;
}

.education > .heading {
  margin: 0;
  font-size: 30px;
}

.education > .years {
  background-image: linear-gradient(to left, white 0%, #93a0d8 200%);
  text-align: center;
  position: relative;
  width: 20%;
  height: 98px;
  float: left;
  font-size: 18px;
  padding:0;
  margin: 0;
}

.education > .years> .year1 {
  padding-top:30px;
  padding-bottom:30px;
  height: 40px;
}

.college {
  margin: 0;
  padding-top: 10px;
  font-size: 20px;
}

.awards{
  height: 410px;
}

.awards > .years {
  background-image: linear-gradient(to left, white 0%, #93a0d8 200%);
  text-align: center;
  position: relative;
  width: 20%;
  height: 320px;
  float: left;
  font-size: 18px;
  padding:0;
  margin: 0;
}

.awards > .years> .year1 {
  padding-top:30px;
  padding-bottom:30px;
  height: 40px;
}
.awards > .years> .year2 {
  padding-top:30px;
  padding-bottom:30px;
  height: 40px;
}
.awards > .years> .year3 {
  padding-top:30px;
  padding-bottom:30px;
  height: 40px;
}

.award{
  padding-top: 35px;
  padding-bottom: 20px
}

.databases{
  font-size: 18px;
}

.database{
  position: relative;
  float: left;
}



